@model SGBL.Application.ViewModels.BookStatusViewModel
@{
    ViewData["Title"] = "Detalles del Estado";
}

<h2 class="mt-3">Detalles del Estado</h2>

<dl class="row">
    <dt class="col-sm-2">ID</dt>
    <dd class="col-sm-10">@Model.Id</dd>

    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Creado</dt>
    <dd class="col-sm-10">@Model.CreatedAt.ToLocalTime()</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
